.web-collab-marker * {
    box-sizing: border-box;
}

.web-collab-marker {
    position: absolute;
    z-index:100;
}

.web-collab-marker-icon {
    background-color: #00a1ffa3;
    border: solid 5px #00a1ff;
    border-radius: 25px;
    display: inline-block;
    height: 40px;
    transition: all 800ms;
    width: 40px;
    
}

.web-collab-marker:hover .web-collab-marker-icon {
    background-color: #00a1ffa3;
}

.web-collab-marker.web-collab-active .web-collab-marker-icon {
    display: none;
}

.web-collab-marker-note {
    display: none;
    padding: 7px;
    margin-left: 0;
    margin-top: 0px;
    background: #fff;
    border: solid 1px #464646;
    box-shadow: 4px 6px 6px -7px #000;
    max-width: 260px;
}


.web-collab-marker-note textarea {
    background-color: #e9f5ff;
    border-radius:0;
    background: #e8e8e8;
    padding: 10px;
    border: solid 1px #d0d0d0;
    display: block;
    width: 100%;
    margin-bottom: 7px;
}

.web-collab-note-updated .web-collab-marker-icon {
    background: #f5f19b;
    border-color: #8a885a;
}

.web-collab-note-updated .web-collab-marker-note textarea {
    background: #f5f19b;
    border-color: #ece9a1;
}

.web-collab-marker.web-collab-active .web-collab-marker-note {
    display: inline-block;
}

.web-collab-marker  button {
    background: #f7f7f7;
    border: solid 1px #000;
    outline: none;
}

.web-collab-button:not(:first-child) {
    margin-left: 4px;
}

.web-collab-marker  button:hover {
    cursor: pointer;
    background: #fff;
    font-style: italic;
}

.web-collab-marker  button:active {
    background: #f6f7a7;
}

.web-collab-marker button.web-collab-delete-button {
    border-color: #e45c5c;
    color: #e45c5c;
}